<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- inserts a new movie for the user to the database -->
<a href="{{ url_for('add_movie', user_id=user_id) }}">➕ Add a New Movie</a>

<!-- should show the preferred movies of a user -->
{% extends "base.html" %}

{% block content %}
  <h1>Favorite Movies of User {{ user_id }}</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
        <tr>
          <td>{{ movie['name'] }}</td>
          <td>{{ movie['director'] }}</td>
          <td>{{ movie['year'] }}</td>
          <td>{{ movie['rating'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/">Back to users</a>
{% endblock %}


</body>
</html>
